.App {
  text-align: center;
}

.header-image {
  background-image: url("https://images.unsplash.com/photo-1482987001459-9c8a37b21dd3?auto=format&fit=crop&w=1508&q=80");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center; 
  overflow: 'hidden';
  height: 350px;
}
.App-header {
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 2em;
}
